### Q1. Create one variable containing following type of data:

#### (i) String

In [17]:
my_string = 'Hello teacher, this is my first code in Python'
my_string

'Hello teacher, this is my first code in Python'

#### (ii) list

In [41]:
my_list = [1,2,3,True,'Ravi',69.70,1+2j]
my_list

[1, 2, 3, True, 'Ravi', 69.7, (1+2j)]

#### (iii) float

In [19]:
my_float = 95.40
my_float

95.4

#### (iv) tuple

In [42]:
my_tuple = (1,2.5,'Python',False, 2+5j)
my_tuple

(1, 2.5, 'Python', False, (2+5j))

### Q2. Given are some following variables containing data:
 (i) var1 = ‘ ‘ 
 (ii) var2 = ‘[ DS , ML , Python]’ 
 (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] 
 (iv) var4 = 1.

#### What will be the data type of the above given variable.

#### (i) var1 = ‘ ‘

In [23]:
var1 = ''

In [24]:
type(var1)

str

#### (ii) var2 = ‘[ DS , ML , Python]’

In [26]:
var2 = '[ DS , ML , Python]'

In [27]:
type(var2)

str

#### (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [28]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [29]:
type(var3)

list

#### (iv) var4 = 1

In [30]:
var4 = 1

In [31]:
type(var4)

int

### Q3. Explain the use of the following operators using an example:
#####  (i) /
##### (ii) %
##### (iii) //
##### (iv) **

#### (i) /

In [34]:
# / is the symbol of Divison and used to divide the number. It is a Arithmetic operator. for example
a = 10
b = 2
print(a/b)

5.0

##### (ii) %

In [37]:
# % is the symbol of Modulus, it returns remainder. It is a Arithmetic operator. for example - 

a = 7
b = 2
print(a%b)

1

##### (iii) //

In [38]:
# // is the symbol of floor division. It divides two numbers and rounds the result down to the nearest integer, 
# and it returns an integer result without any decimal places. for example -

a = 7
b = 2
print(a//b)

3

##### (iv) **

In [40]:
# ** is symbol Exponentiation(Power). It allows you to raise a number to the power of another number. for example - 

a = 5
b = 2
print(a**b)

25

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
### element and its data type.

In [52]:
list1 = [1,5,8,2.5,100,'Joy','Ravi',True,False,5+2j]
len(list1)

10

In [53]:
for i in list1:
    print(i)

1
5
8
2.5
100
Joy
Ravi
True
False
(5+2j)

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
### times it can be divisible.

In [185]:
# A = int(input("Enter value of A : "))
# B = int(input("Enter value of B : "))
A = 20
B = 5
while A%B==0:
    A=A/B
    print(f"{A} times 'A' is purely divisible by 'B'")

4.0 times 'A' is purely divisible by 'B'

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
### divisible by 3 or not.

In [196]:
list1=[3,21,37,45,51,64,77,81,96,102,111,121,113,141,156,126,157,168,190,210,215,220,235,244,205]
for i in list1:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

3 is divisible by 3
21 is divisible by 3
37 is not divisible by 3
45 is divisible by 3
51 is divisible by 3
64 is not divisible by 3
77 is not divisible by 3
81 is divisible by 3
96 is divisible by 3
102 is divisible by 3
111 is divisible by 3
121 is not divisible by 3
113 is not divisible by 3
141 is divisible by 3
156 is divisible by 3
126 is divisible by 3
157 is not divisible by 3
168 is divisible by 3
190 is not divisible by 3
210 is divisible by 3
215 is not divisible by 3
220 is not divisible by 3
235 is not divisible by 3
244 is not divisible by 3
205 is not divisible by 3

In [197]:
len(list1)

25

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing
### this property.

#### Immutable

In [207]:
# In Immutable object, we cannot change the value or data at particular place or index. for example - 'String'
s1 = 'Ravi'

In [208]:
s1[0]

'R'

In [206]:
# replace 'R' with 'K'
s1[0] = 'S'

TypeError: 'str' object does not support item assignment

#### Mutable

In [213]:
# In Mutable object, we can change the value or data at particular place or index. for example - "List"
l1 = ['a','e','i','o','u']
print(l1)

['a', 'e', 'i', 'o', 'u']

In [214]:
l1[0]

'a'

In [215]:
# Replace 'a' with 'b'
l1[0] = 'b'
print(l1)

['b', 'e', 'i', 'o', 'u']