In [20]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name': course_name, 'duration' : duration})

In [21]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
### Ans:- In Pandas, loc and iloc are used for accessing data in a DataFrame, but they serve different purposes and use different types of indexing. Hereâ€™s a detailed explanation of the differences between them:

### loc:
Purpose : Access data by label.

Indexing : Uses labels of rows and columns.

Inclusive : Includes the end index in slicing.

Syntax : df.loc[row_label, column_label] or df.loc[start_row:end_row, start_column:end_column].

In [18]:
# Example:- 
import pandas as pd
data = {
    'course_name': ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer'],
    'duration': [2, 3, 6, 4]
}
df1 = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])


# Using loc to access data by label
print(df1.loc['B'])  # Access row with index label 'B'
print(df1.loc['B', 'course_name'])  # Access a specific cell
print(df1.loc['B':'D'])  # Access rows from 'B' to 'D' (inclusive)

course_name    Machine Learning
duration                      3
Name: B, dtype: object
Machine Learning
        course_name  duration
B  Machine Learning         3
C          Big Data         6
D     Data Engineer         4

#### iloc:
Purpose : Access data by integer location (index position).

Indexing : Uses integer-based indexing.

Exclusive : Does not include the end index in slicing.

Syntax : df.iloc[row_index, column_index] or df.iloc[start_row:end_row, start_column:end_column].

In [19]:
# Example:-
import pandas as pd
data = {
    'course_name': ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer'],
    'duration': [2, 3, 6, 4]
}
df2 = pd.DataFrame(data)

# Using iloc to access data by integer index
print(df2.iloc[1])  # Access row with integer index 1
print(df2.iloc[1, 0])  # Access a specific cell by integer index
print(df2.iloc[1:3])  # Access rows from index 1 to 2 (exclusive of 3)

course_name    Machine Learning
duration                      3
Name: 1, dtype: object
Machine Learning
        course_name  duration
1  Machine Learning         3
2          Big Data         6

### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
### Did you observe any difference in both the outputs? If so then explain it.

### Sol:- As per below outputs no difference found in both the outputs.

In [23]:
# Sol:-
new_df = df.reindex([3,0,1,2])

In [24]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [25]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [34]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [27]:
df.iloc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

#### Consider the below code to answer further questions:

In [35]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]

#Creating a dataframe:

df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [36]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.745153  0.505044  0.335248  0.585535  0.053209  0.774184
2  0.003046  0.151873  0.503880  0.051405  0.884429  0.406191
3  0.703340  0.941011  0.611797  0.926177  0.738284  0.334407
4  0.222479  0.995962  0.550552  0.407284  0.100646  0.108887
5  0.988054  0.289558  0.184864  0.416675  0.573956  0.993455
6  0.678535  0.173916  0.432719  0.061622  0.077444  0.074763

### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
### (i) mean of each and every column present in the dataframe.
### (ii) standard deviation of column, â€˜column_2â€™

In [39]:
# Sol(i):-
df1.mean()

column_1    0.556768
column_2    0.509561
column_3    0.436510
column_4    0.408116
column_5    0.404661
column_6    0.448648
dtype: float64

In [40]:
# Sol (ii) :-
df1['column_2'].std()

0.37729424648898324

### Q5. Replace the data present in the second row of column, â€˜column_2â€™ by a string variable then find the mean of column, column_2.
### If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [44]:
df1.loc[2, 'column_2'] = 'Ravi'

In [45]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.745153  0.505044  0.335248  0.585535  0.053209  0.774184
2  0.003046      Ravi  0.503880  0.051405  0.884429  0.406191
3  0.703340  0.941011  0.611797  0.926177  0.738284  0.334407
4  0.222479  0.995962  0.550552  0.407284  0.100646  0.108887
5  0.988054  0.289558  0.184864  0.416675  0.573956  0.993455
6  0.678535  0.173916  0.432719  0.061622  0.077444  0.074763

In [46]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#### Explaination of error :- This error arise when you have a DataFrame or Series containing both numerical values (floats) and strings, and you attempt to perform an statistical operation and arithmetic operation (such as addition) on these mixed types.

### Q6. What do you understand about the windows function in pandas and list the types of windows functions?
####  Sol:- In Pandas, window functions are used to perform operations on a rolling or expanding window of data. These functions are essential for time series analysis, moving averages, and other tasks that require a calculation based on a subset of data points.

#### Window Functions :- 
Window functions, also known as rolling or moving window functions, perform calculations over a specified window of data. These calculations can be applied to time series or other sequences of data, enabling you to compute metrics like moving averages, cumulative sums, and more.

#### Types of Window Functions in Pandas
##### 1. Rolling Window Functions:
rolling(): Provides a rolling view of the data for calculating statistics over a fixed-size window. Common functions include:

.mean(): Moving average

.sum(): Moving sum

.std(): Moving standard deviation

.min(): Minimum value

.max(): Maximum value

##### 2. Expanding Window Functions:
expanding(): Calculates statistics over an expanding window that grows as more data points are included.Common functions include:

.mean(): Expanding mean

.sum(): Expanding sum

.std(): Expanding standard deviation

##### 3. EWM (Exponential Weighted Functions):
ewm(): Applies exponential weighting to a window of data. Common functions include:

.mean(): Exponentially weighted moving average

.std(): Exponentially weighted standard deviation

### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [47]:
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Extract the current month and year
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print(f"Current month: {current_month}")
print(f"Current year: {current_year}")

Current month: 9
Current year: 2024

### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [50]:
import pandas as pd

def calculate_time_difference(date1, date2):
    # Convert input strings to datetime objects
    dt1 = pd.to_datetime(date1)
    dt2 = pd.to_datetime(date2)
    
    # Calculate the difference
    delta = dt2 - dt1
    
    # Extract days, hours, and minutes from the timedelta object
    days = delta.days
    hours, remainder = divmod(delta.seconds, 3600)
    minutes, _ = divmod(remainder, 60)
    
    return days, hours, minutes

# Get user input
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the difference
days, hours, minutes = calculate_time_difference(date1, date2)

# Display the result
print(f"Difference between the dates: {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 2024-07-01
Enter the second date (YYYY-MM-DD): 2024-08-02
Difference between the dates: 32 days, 0 hours, and 0 minutes.

### Q9. Write a python program that read a CSV file containing categorial data and converts a specified column to a categorial data type. The program should prompt the user to enter file path, column name and category order and then display the sorted data.

In [ ]:
import pandas as pd

def convert_and_sort_csv(file_path, column_name, category_order):
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Convert the specified column to categorical data type with the given category order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
    # Sort the DataFrame by the specified categorical column
    sorted_df = df.sort_values(by=column_name)
    
    return sorted_df

# Get user input
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated): ").split(',')

# Call the function and display the sorted data
sorted_data = convert_and_sort_csv(file_path, column_name, category_order)
print("\nSorted DataFrame:")
print(sorted_data)

### Q10. Write a python program that read a CSV file containing sales data for different products and visualizes the data using stacked bar chart to show sales of each product category over time. The program should prompt the user to enter file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def plot_stacked_bar_chart(file_path):
    # Read the CSV file
    df = pd.read_csv(file_path)
    
    # Check if the required columns are present
    if 'Date' not in df.columns or 'Product Category' not in df.columns or 'Sales' not in df.columns:
        print("CSV file must contain 'Date', 'Product Category', and 'Sales' columns.")
        return
    
    # Convert 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Group by 'Date' and 'Product Category' and sum up 'Sales'
    sales_data = df.groupby([df['Date'].dt.to_period('M'), 'Product Category'])['Sales'].sum().unstack().fillna(0)
    
    # Plot the stacked bar chart
    sales_data.plot(kind='bar', stacked=True, figsize=(12, 8))
    plt.title('Sales by Product Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.legend(title='Product Category')
    plt.xticks(rotation=45)
    plt.tight_layout()
    
    # Show the plot
    plt.show()

# Get user input for the file path
file_path = input("Enter the CSV file path: ")

# Call the function to plot the chart
plot_stacked_bar_chart(file_path)

### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
#### The program should do the following:
#### Prompt the user to enter the file path of the CSV file containing the student data.
#### Read the CSV file into a Pandas DataFrame.
#### Calculate the mean, median, and mode of the test scores using Pandas tools.
#### Display the mean, median, and mode in a table.

In [58]:
import pandas as pd

def calculate_statistics(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Check if the 'Test Score' column is present
    if 'Test Score' not in df.columns:
        print("CSV file must contain a 'Test Score' column.")
        return
    
    # Calculate mean, median, and mode of the test scores
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode().tolist()  # mode() returns a Series, convert to list for display
    
    # Create a DataFrame to display the results
    stats_df = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, ', '.join(map(str, mode_score))]
    })
    
    # Display the results
    print("\nStatistics of Test Scores:")
    print(stats_df)

# Get user input for the file path
file_path = input("Enter the CSV file path: ")

# Call the function to calculate and display statistics
calculate_statistics(file_path)

Enter the CSV file path: Student_score.csv

Statistics of Test Scores:
  Statistic Value
0      Mean  83.5
1    Median  85.0
2      Mode    85