### Q1. List any five functions of the pandas library with execution.

##### Sol: 
1. read_csv: This function reads a comma-separated values (CSV) file into a DataFrame.

2. head: This function returns the first n rows of the DataFrame.

3. describe: This function generates descriptive statistics that summarize the central tendency, dispersion, and shape of a        datasetâ€™s distribution.

4. groupby: This function is used to group data based on one or more columns and perform aggregate functions on them.

5. merge: This function is used to combine two DataFrames based on a key or keys.

In [4]:
# 1.read_csv
import pandas as pd

# Reading a CSV file into a DataFrame
df = pd.read_csv(r"C:\Users\asus\Documents\Week 8 - ML Toolbox - Pandas\2. Pandas Advance\data.csv")
print(df.head())  # Displaying the first 5 rows of the DataFrame

    name         email_id  phone_number
0   Ravi   ravi@gmail.com        567563
1   sudh   sudh@gmail.com      92342424
2  kiran  kiran@gmail.com       5567897
3  krish  krish@gmail.com       9324242
4  rohit  rohit@yahoo.com          3445

In [5]:
# 2.head
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [24, 27, 22, 32, 29]}
df = pd.DataFrame(data)

# Displaying the first 3 rows of the DataFrame
print(df.head(3))

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

In [6]:
# 3. describe :
import pandas as pd

# Creating a sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
        'Age': [24, 27, 22, 32, 29],
        'Salary': [50000, 54000, 50000, 58000, 60000]}
df = pd.DataFrame(data)

# Generating descriptive statistics
print(df.describe())

             Age      Salary
count   5.000000      5.0000
mean   26.800000  54400.0000
std     3.962323   4560.7017
min    22.000000  50000.0000
25%    24.000000  50000.0000
50%    27.000000  54000.0000
75%    29.000000  58000.0000
max    32.000000  60000.0000

In [14]:
# 4. groupby
import pandas as pd

# Creating a sample DataFrame
data = {'Product': ['A', 'B', 'C', 'A', 'C'],
        'Sales': [50000, 54000, 50000, 58000, 60000],
        'Quantity': [40 ,10 ,30 ,28 ,39]}
df = pd.DataFrame(data)

# Grouping by Product 
grouped = df.groupby('Product').sum()
print(grouped)

          Sales  Quantity
Product
A        108000        68
B         54000        10
C        110000        69

In [16]:
# 5. merge
import pandas as pd

# Creating two sample DataFrames
data1 = {'Name': ['Alice', 'Bob', 'Charlie'],
         'Age': [24, 27, 22]}
df1 = pd.DataFrame(data1)

data2 = {'Name': ['Alice', 'Bob', 'David'],
         'Salary': [50000, 54000, 58000]}
df2 = pd.DataFrame(data2)

# Merging the DataFrames on the 'Name' column
merged_df = pd.merge(df1, df2, on='Name', how='outer')
print(merged_df)

      Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob  27.0  54000.0
2  Charlie  22.0      NaN
3    David   NaN  58000.0

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row

In [17]:
# Sol:
import pandas as pd

def reindex_dataframe(df):
    # Calculate the new index
    new_index = range(1, 2 * len(df) + 1, 2)
    # Assign the new index to the DataFrame
    df.index = new_index
    return df

# Example usage:
# Creating a sample DataFrame
data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
df = pd.DataFrame(data)

# Reindexing the DataFrame
reindexed_df = reindex_dataframe(df)
print(reindexed_df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [24]:
# Sol:
import pandas as pd

# Creating a sample DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calculate the sum of the first three values in the 'Values' column
sum_of_first_three = df['Values'].iloc[0:3].sum()

# Print the sum to the console
print("Sum of first three values is -",sum_of_first_three)

Sum of first three values is - 60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [25]:
# Sol:
import pandas as pd

# Creating a sample DataFrame
data = {'Text': ['Hello world', 'Pandas is great', 'Python programming']}
df = pd.DataFrame(data)

# Create a new column 'Word_Count' with the number of words in each row of the 'Text' column
df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))

# Print the DataFrame
print(df)

                 Text  Word_Count
0         Hello world           2
1     Pandas is great           3
2  Python programming           2

### Q5. How are DataFrame.size() and DataFrame.shape() different?

##### Sol:
The DataFrame.size and DataFrame.shape attributes in pandas provide different types of information about a DataFrame:

##### DataFrame.size: 

Definition: Returns an integer representing the total number of elements in the DataFrame. 

Calculation: It is calculated as the product of the number of rows and the number of columns.
                
##### DataFrame.shape:

Definition: Returns a tuple representing the dimensionality of the DataFrame.

Calculation: The tuple contains two values: the number of rows and the number of columns.

##### Example

In [27]:
# DataFRame.size
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.size)  # Output: 6

6

In [28]:
# DataFrame.shape
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df.shape)  # Output: (3, 2)

(3, 2)

### Q6. Which function of pandas do we use to read an excel file?
### Sol.
To read an Excel file into a Pandas DataFrame, you can use the "pd.read_excel()" function. This function allows you to read data from an Excel file, either .xls or .xlsx formats.

### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. 

### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [1]:
# Sol.
import pandas as pd

def add_username_column(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example usage:
data = {'Email': ['john.doe@example.com', 'jane.smith@company.org', 'user123@domain.net']}
df = pd.DataFrame(data)

# Adding the 'Username' column
df = add_username_column(df)
print(df)

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@company.org  jane.smith
2      user123@domain.net     user123

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.

### For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

### Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

### The function should return a new DataFrame that contains only the selected rows.

In [2]:
# Sol.
import pandas as pd

def select_rows(df):
    # Selecting rows based on the condition
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

# Example usage:
data = {
    'A': [3, 8, 6, 2, 9],
    'B': [5, 2, 9, 3, 1],
    'C': [1, 7, 4, 5, 2]
}
df = pd.DataFrame(data)

# Selecting rows based on the condition
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [9]:
import pandas as pd

# Example DataFrame
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calculating mean, median, and standard deviation
mean_value = df['Values'].mean()
median_value = df['Values'].median()
std_deviation = df['Values'].std()

print(f"Mean: {mean_value}")
print(f"Median: {median_value}")
print(f"Standard Deviation: {std_deviation}")

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [10]:
import pandas as pd

# Example DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),
    'Sales': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
}
df = pd.DataFrame(data)

# Ensure the DataFrame is sorted by 'Date'
df = df.sort_values('Date')

# Calculate the moving average with a window size of 7
df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

print(df)

        Date  Sales  MovingAverage
0 2023-01-01     10           10.0
1 2023-01-02     20           15.0
2 2023-01-03     30           20.0
3 2023-01-04     40           25.0
4 2023-01-05     50           30.0
5 2023-01-06     60           35.0
6 2023-01-07     70           40.0
7 2023-01-08     80           50.0
8 2023-01-09     90           60.0
9 2023-01-10    100           70.0

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

### For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

### Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

### The function should return the modified DataFrame.

In [11]:
import pandas as pd

# Example DataFrame
data = {
    'Date': pd.date_range(start='2023-01-01', periods=5, freq='D')
}
df = pd.DataFrame(data)

# Adding the 'Weekday' column
df['Weekday'] = df['Date'].dt.day_name()

print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [12]:
import pandas as pd

# Example DataFrame
data = {
    'Date': pd.date_range(start='2022-12-25', periods=20, freq='D'),
    'Value': range(20)
}
df = pd.DataFrame(data)

# Converting 'Date' column to datetime format if not already
df['Date'] = pd.to_datetime(df['Date'])

# Selecting rows where 'Date' is between '2023-01-01' and '2023-01-31'
start_date = '2023-01-01'
end_date = '2023-01-31'

selected_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

print(selected_df)

         Date  Value
7  2023-01-01      7
8  2023-01-02      8
9  2023-01-03      9
10 2023-01-04     10
11 2023-01-05     11
12 2023-01-06     12
13 2023-01-07     13
14 2023-01-08     14
15 2023-01-09     15
16 2023-01-10     16
17 2023-01-11     17
18 2023-01-12     18
19 2023-01-13     19

### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

##### The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas. Here is the standard import statement:

In [13]:
import pandas as pd