# Basic Pandas Assignment

### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

# Creating the Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [1]:
import pandas as pd

# creating list with 10 elements
my_list = [1,2,3,4,5,6,7,8,9,10]

# conveting list into pandas series
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:
         Name       Age   Gender
         Alice      25    Female
         Bob        30    Male
         Claire     27    Female

In [3]:
import pandas as pd

# creating dictionary 
my_dict = {
    'Name':['Alice', 'Bob', 'Claire'],
    'Age' :[25,30,27],
    'Gender':['Female', 'Male', 'Female']
}

# converting dictionary into dataframe

df = pd.DataFrame(my_dict)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### Sol :-
A DataFrame in pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, or a dictionary of Series objects. Each column in a DataFrame can be of different data types.

On the other hand, a Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, Python objects, etc.). It is similar to a single column in a DataFrame.

##### Key Differences:
1. Dimensionality: Series is 1-dimensional and DataFrame is 2-dimensional.

2. Structure: Series consists of a single column of data and DataFrame consists of multiple columns, each of which is a Series.

3. Usage: Series is used for handling and manipulating a single column of data and DataFrame is used for handling and           manipulating multiple columns of data.

In [7]:
#Example:-
import pandas as pd

# creating series
my_series_1 = pd.Series([1,2,3,4,5], name='numbers')

print("Pandas Series:")
print(my_series_1)

# creating dataframe
data_frame = pd.DataFrame({
    'Name':["Jack", "Adam", "Maria"],
    'Age':[23, 29, 18],
    'Gender':["Male", "Male", "Female"]
})

print("\nPandas Data Frame:")
print(data_frame)

Pandas Series:
0    1
1    2
2    3
3    4
4    5
Name: numbers, dtype: int64

Pandas Data Frame:
    Name  Age  Gender
0   Jack   23    Male
1   Adam   29    Male
2  Maria   18  Female

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### Sol:
Pandas provides a wide range of functions to manipulate data in a DataFrame. Some of the most common functions include:
1. head() and tail(): View the first or last few rows of the DataFrame.
2. describe(): Generate descriptive statistics.
3. info(): Get a concise summary of the DataFrame.
4. shape: Get the dimensions of the DataFrame.
5. columns: Get or set the column labels.
6. index: Get or set the row labels.
7. drop(): Remove rows or columns.
8. sort_values(): Sort by the values along either axis.
9. groupby(): Group data by a column or columns and apply aggregation functions.
10. apply(): Apply a function along any axis.
11. merge(): Merge DataFrames similar to SQL joins.
12. pivot_table(): Create a spreadsheet-style pivot table as a DataFrame.
13. loc and iloc: Access a group of rows and columns by labels or positions.
14. isnull() and notnull(): Detect missing values.
15. fillna(): Fill missing values.

In [8]:
#Example :- we have sales data, and we want to calculate the total sales for each product.
#           We can use the groupby() function to group the data by "product" and then sum the sales for each group.

In [10]:
import pandas as pd

# creating sales data
data = {
    'Product':['A', 'B', 'A', 'B', 'C', 'A', 'C'],
    'Sales': [100, 150, 200, 250, 300, 400, 500],
    'Quantity':[1, 2, 2, 3, 3, 4, 5]
}

df = pd.DataFrame(data)

# Grouping by 'Product' and calculating the sum of 'Sales' and 'Quantity'

grouped_df = df.groupby('Product').sum()

print(grouped_df)

         Sales  Quantity
Product
A          700         7
B          400         5
C          800         8

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#### Sol:
In pandas, both Series and DataFrame are mutable, meaning that their contents can be changed after they are created. You can modify the data, add or remove rows and columns, and change the structure of these objects.

However, Panel is a 3-dimensional data structure that was used in earlier versions of pandas (prior to version 1.0). It has been deprecated and removed from pandas because it was less commonly used and more cumbersome compared to other data structures. Instead, for multi-dimensional data, pandas recommends using the MultiIndex for DataFrame or using other libraries such as xarray.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
# creating 3 indiviaual series
import pandas as pd
name_series = pd.Series(['Rohit','Virat', 'Mitali Raj'])
age_series = pd.Series([37, 35, 41])
gender_series = pd.Series(['Male','Male', 'Female'])

# creating the dataframe using the series

df = pd.DataFrame({
    'Name': name_series,
    'Age' : age_series,
    'Gender': gender_series
})

print(df)

         Name  Age  Gender
0       Rohit   37    Male
1       Virat   35    Male
2  Mitali Raj   41  Female