#### MySQL Assignment

##### Q1. What is a database? Differentiate between SQL and NoSQL databases.
##### Sol:- 
A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, updating, and management. It serves as a repository for various types of information, and databases are commonly used in applications ranging from simple data storage to complex systems that require high-performance data processing.

There are two main types of databases: SQL (Structured Query Language) databases and NoSQL databases. Here's a brief differentiation between the two:

##### SQL Databases:
a). SQL databases are typically used for applications with complex queries and transactions, where data integrity is crucial.

b). Structure: SQL databases are relational databases, meaning they use a structured schema with tables to organize and represent data. Each table consists of rows and columns, and the relationships between tables are defined.

c). Data Model: SQL databases follow the ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and reliability.

d). Scalability: Vertical scaling (adding more power to an existing server) is the common way to scale SQL databases. It may involve upgrading the hardware to handle increased loads.

Examples of SQL databases: MySQL, PostgreSQL, Oracle, SQL Server.

##### NoSQL Databases:
a). NoSQL databases are often chosen for their scalability and flexibility, making them suitable for applications with large amounts of unstructured or semi-structured data and where high performance is essential.

b). Structure: NoSQL databases are non-relational and often use a variety of data models, including document-oriented, key-value pairs, wide-column stores, or graph databases. The structure can be more flexible, allowing for dynamic schema.

c). Data Model: NoSQL databases may not strictly adhere to the ACID properties. Instead, they often prioritize scalability and performance, allowing for eventual consistency rather than immediate consistency.

d). Scalability: NoSQL databases are generally more horizontally scalable, which means that to handle increased loads, you can add more servers to the database.

Examples of NoSQL databases: MongoDB (document-oriented), Cassandra (wide-column store), Redis (key-value store), Neo4j (graph database).

##### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
##### Sol:- DDL stands for Data Definition Language, and it is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are responsible for defining, altering, and deleting database structures such as tables, indexes, and schemas. The main DDL commands include CREATE, DROP, ALTER, and TRUNCATE.

##### a). CREATE :-  It is used to create new database objects like tables, indexes, or views.
Example: Creating a new table named Employees:

In [ ]:
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT
);

##### b). DROP :- It is used to delete existing database objects like tables, indexes, or views.
Example: Dropping the previously created Employees table:

In [ ]:
DROP TABLE Employees;

##### c).ALTER :- It is used to modify the structure of an existing database object, such as adding or dropping columns in a table.
Example: Adding a new column named Salary to the Employees table:

In [ ]:
ALTER TABLE Employees
ADD Salary DECIMAL(10, 2);

##### TRUNCATE :- It is used to delete all rows from a table but retains the structure for future use.
Example: Truncating the Employees table:

In [ ]:
TRUNCATE TABLE Employees;

##### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
##### Sol:- DML stands for Data Manipulation Language, and it is a subset of SQL (Structured Query Language) used to interact with and manipulate data stored in a database. DML consists of three main commands: INSERT, UPDATE, and DELETE.

##### a). INSERT :- It is used to insert new records (rows) into a table.
Example: Inserting a new employee into the Employees table:

In [ ]:
INSERT INTO Employees (EmployeeID, FirstName, LastName, DepartmentID)
VALUES (1, 'John', 'Doe', 101);

##### b). UPDATE :- It is used to modify existing records in a table.
Example: Updating the salary for employee John Doe in the Employees table:

In [ ]:
UPDATE Employees
SET Salary = 60000
WHERE FirstName = 'John' AND LastName = 'Doe';

##### DELETE :- It is used to delete records from a table.
Example: Deleting an employee with EmployeeID 1 from the Employees table:

In [ ]:
DELETE FROM Employees
WHERE EmployeeID = 1;

##### Q4. What is DQL? Explain SELECT with an example.
##### Sol:- DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) that is used to query and retrieve data from a database. The primary DQL command is SELECT, which allows you to specify the columns you want to retrieve and define conditions for filtering data.

SELECT :- It is used to retrieve data from one or more tables in a database.

Syntax:

In [ ]:
SELECT column1, column2, ...
FROM table_name
WHERE condition;

##### Example:
Suppose you have a table named Employees with columns EmployeeID, FirstName, LastName, Salary, and DepartmentID.

We can use the SELECT statement to retrieve data from this table:

In [2]:
#Select all columns for all employees
SELECT * FROM Employees;

In [ ]:
# Select specific columns for employees with a salary greater than 50000
SELECT EmployeeID, FirstName, LastName, Salary
FROM Employees
WHERE Salary > 50000;

In [ ]:
# Select distinct department IDs from the Employees table
SELECT DISTINCT DepartmentID
FROM Employees;

##### Q5. Explain Primary Key and Foreign Key.
##### Sol:- In MySQL and other relational database management systems (RDBMS), Primary Key (PK) and Foreign Key (FK) are two important concepts that define relationships between tables.

##### Primary Key :- 
A primary key is a column or a set of columns in a table that uniquely identifies each record in that table. It must have a unique value for each row and cannot contain NULL values.

Purpose :- It provides a way to uniquely identify each record in the table. Ensures data integrity and prevents duplicate or null values in the primary key column(s).

In [ ]:
# Example
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT
);

##### Foreign Key :-
A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a link between the two tables, creating a relationship.

Purpose:
Enforces referential integrity by ensuring that values in the foreign key column(s) match values in the referenced primary key column(s) of another table. Supports relationships between tables, enabling the creation of complex database structures.

In [4]:
# Example
CREATE TABLE Departments (
    DepartmentID INT PRIMARY KEY,
    DepartmentName VARCHAR(50)
);

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DepartmentID INT,
    FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
);

##### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
##### Sol :- To connect MySQL to Python, you can use a MySQL connector library. One popular library is mysql-connector-python. Before using the library, make sure to install it using:
pip install mysql-connector-python

##### cursor() :- The cursor() method creates a cursor object. A cursor is an object that allows you to interact with the MySQL database by executing SQL queries.

##### execute() :- The execute() method of the cursor is used to execute SQL queries. You pass the SQL query as a string to this method. In Example 1, a SELECT query retrieves all rows from a table, and in Examples 2 and 3, INSERT and UPDATE queries are executed.

In [ ]:
import mysql.connector

# Establishing a connection to the MySQL database
connection = mysql.connector.connect(
    host="your_host",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Example 1: Using execute() to execute a simple SQL query
cursor.execute("SELECT * FROM your_table_name")
result = cursor.fetchall()

# Example 2: Using execute() to insert data into a table
insert_query = "INSERT INTO your_table_name (column1, column2) VALUES (%s, %s)"
data_to_insert = ("value1", "value2")
cursor.execute(insert_query, data_to_insert)

# Example 3: Using execute() to update data in a table
update_query = "UPDATE your_table_name SET column1 = %s WHERE column2 = %s"
data_to_update = ("new_value", "condition_value")
cursor.execute(update_query, data_to_update)

# Committing the changes
connection.commit()

# Closing the cursor and connection
cursor.close()
connection.close()

##### Q7. Give the order of execution of SQL clauses in an SQL query.
##### Sol :- 
##### FROM:
The FROM clause specifies the table or tables from which the data will be retrieved.

##### JOIN:
If there are JOIN clauses, the data from multiple tables is combined based on specified conditions.

##### WHERE:
The WHERE clause is used to filter rows based on specified conditions. It operates on the result set after the FROM and JOIN clauses.

##### GROUP BY:
If a GROUP BY clause is present, rows are grouped based on the specified columns. This clause is often used in conjunction with aggregate functions like SUM, AVG, COUNT, etc.

##### HAVING:
The HAVING clause is used to filter the grouped rows based on specified conditions. It operates similarly to the WHERE clause but is applied after the GROUP BY clause.

##### SELECT:
The SELECT clause determines which columns from the result set will be included in the final output.

##### DISTINCT:
If the DISTINCT keyword is used, duplicate rows are eliminated from the result set.

##### ORDER BY:
The ORDER BY clause is used to sort the result set based on one or more columns. This is the last operation before presenting the final result.

##### LIMIT and OFFSET:
If the LIMIT and OFFSET clauses are present, they are applied to restrict the number of rows in the result set and specify the starting point for the selection, respectively.